{# default part #}
file://{{ user_home }}/Downloads Downloads
file://{{ user_home }}/Music Music
file://{{ user_home }}/Pictures Pictures
file://{{ user_home }}/Videos Videos

{# user part #}
{% for item in data -%}
  file://{{ item }} {{ item | basename }}
{% endfor %}
