#jinja2:lstrip_blocks: True, trim_blocks: True
{# default part #}
file:///home/mint/Documents Documents
file:///home/mint/Downloads Downloads
file:///home/mint/Music Music
file:///home/mint/Pictures Pictures
file:///home/mint/Videos Videos

{# user part #}
{% for item in data -%}
  file://{{ item }} {{ item | basename }}
{% endfor %}
