{%- set download_dir = user_home ~ "/storage/download" -%}

{
  "download-dir": "{{ download_dir }}",
  "download-queue-size": 20,
  "incomplete-dir": "{{ download_dir }}",
  "main-window-height": 700,
  "main-window-width": 1200,
  "main-window-x": 50,
  "main-window-y": 50,
  "open-dialog-dir": "{{ user_home }}",
  "torrent-added-notification-enabled": false,
  "torrent-complete-sound-enabled": false,
  "user-has-given-informed-consent": true,
  "watch-dir": "{{ download_dir }}"
}
