*.retry
#
roles/copyq/files/copyq/*
!roles/copyq/files/copyq/copyq.conf
#
roles/emacs/files/emacs.d/*
!roles/emacs/files/emacs.d/custom/*
!roles/emacs/files/emacs.d/init.el
#
roles/mpv/files/mpv/watch_later/
#
roles/sublime/files/sublime-text-3/*
!roles/sublime/files/sublime-text-3/Packages/User/Preferences.sublime-settings
#
roles/vscode/files/Code/*
!roles/vscode/files/Code/User/snippets/
!roles/vscode/files/Code/User/keybindings.json
!roles/vscode/files/Code/User/settings.json
