# __________________________________role:_EMACS___________________________________
roles/emacs/files/emacs.d/*
!roles/emacs/files/emacs.d/custom/*
!roles/emacs/files/emacs.d/init.el
# END
# __________________________________role:_COMMON__________________________________
*.retry
# END
