roles/mpv/files/mpv/watch_later/

roles/atom/files/atom/*
!roles/atom/files/atom/config.json
!roles/atom/files/atom/keymap.json
!roles/atom/files/atom/packages.list
!roles/atom/files/atom/styles.less

*.retry

roles/emacs/files/emacs.d/*
!roles/emacs/files/emacs.d/custom/
!roles/emacs/files/emacs.d/init.el

roles/sublime/files/sublime-text-3/*
!roles/sublime/files/sublime-text-3/Packages/User/Preferences.sublime-settings

roles/copyq/files/copyq/*
!roles/copyq/files/copyq/copyq.conf
