<?xml version="1.0"?>
<VirtualBox xmlns="http://www.virtualbox.org/" version="1.12-linux">
  <Global>
    <MachineRegistry/>
    <NetserviceRegistry>
    </NetserviceRegistry>
    <SystemProperties
      defaultMachineFolder="{{ user_home }}/virtualbox_vms"
      defaultHardDiskFormat="VDI"
      VRDEAuthLibrary="VBoxAuth"
      webServiceAuthLibrary="VBoxAuth"
      LogHistoryCount="3"
      exclusiveHwVirt="true"/>
    <USBDeviceFilters/>
  </Global>
</VirtualBox>
