"*":
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
    json:
      indent_char: " "
      indent_size: 2
      indent_with_tabs: false
    html:
      indent_size: 2
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ansible-advanced": [
        "yml"
      ]
      "source.jade": [
        "pug"
      ]
    disabledPackages: [
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autoflow"
      "autosave"
      "background-tips"
      "exception-reporting"
      "github"
      "image-view"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-ruby-on-rails"
      "language-ruby"
      "language-sql"
      "language-toml"
      "language-typescript"
      "metrics"
      "open-on-github"
      "package-generator"
      "spell-check"
      "styleguide"
      "welcome"
      "whitespace"
      "wrap-guide"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  editor:
    fontFamily: "Hack"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.6
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "auto"
    zoomFontWhenCtrlScrolling: false
  "file-icons":
    onChanges: true
  "one-dark-ui":
    hideDockButtons: true
    tabSizing: "Minimum"
  tabs:
    addNewTabsAtEnd: true
    alwaysShowTabBar: false
    enableVcsColoring: true
    showIcons: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
