'atom-workspace':
  'ctrl-n': 'tree-view:add-file'

'.editor:not(.mini)':
  'ctrl-shift-M': 'markdown-preview:toggle'

'atom-text-editor[data-grammar~="jsx"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'
