#jinja2:lstrip_blocks: True, trim_blocks: True

#!/bin/bash
{# https://github.com/GNOME/gnome-terminal/blob/master/src/org.gnome.Terminal.gschema.xml #}
{# https://github.com/Mayccoll/Gogh #}

{%- set uuid = item.1 -%}

gsettings set org.gnome.Terminal.Legacy.Settings confirm-close false
gsettings set org.gnome.Terminal.Legacy.Settings default-show-menubar false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ default-size-columns '100'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ default-size-rows '28'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ audible-bell false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ use-theme-colors false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ use-transparent-background false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ use-theme-transparency false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ use-system-font false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ font 'Iosevka Term SS08 13'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ bold-color-same-as-fg true
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ visible-name '{{ item.0.name }}'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ background-color '{{ item.0.background_color }}'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ foreground-color '{{ item.0.foreground_color }}'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:{{ uuid }}/ palette "[
{%- for color in item.0.colors -%}
  '{{- color }}'{% if not loop.last %},{% endif %}
{% endfor -%}
]"
